target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn/wrapper/
mvnw
mvnw.cmd


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Eclipse ###
.project
.classpath
.settings/
pom.xml
src/main/resources/application.properties
src/main/webapp/static/image/8f253be5-4616-4acb-bd6f-2190cd1c1b77.JPG
src/main/webapp/static/image/b99fa704-f8d6-41bb-b374-07f5dbf04327.JPG
pom.xml
pom.xml
pom.xml
src/main/resources/application.properties
*.xml
pom.xml
pom.xml
src/main/resources/application.properties
